body {
    margin: 0px;
    background-color: #F6F7F7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */

.header-box {
    display: flex;
    justify-content: space-between;

    height: 80px;

    background-color: #F39335;
    background-image: url('../assets/wave.png');
    background-size: cover;
    background-position: center;

    border-bottom: 4px solid #005797;

    line-height: 80px;
}

.header-left {
    padding-left: 130px;
    font-size: 16pt;
    color: white;
}

.header-right {
    padding-right: 130px;
    font-size: 16pt;
    color: white;
}

.header-link {
    color: white;
    margin-left: 15px;
    text-decoration: none;

    &:hover {
        border-bottom: 3px solid white;
        cursor: pointer;
    }
}

.header-box-label {
    width: 250px;
    margin: 0 auto;
    height: 40px;

    background-color: #005797;
    line-height: 40px;
    text-align: center;

    border-radius: 0px 0px 7px 7px;
}

.header-label-text {
    color: white;
    margin: 0;
}

.section-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-main-mails{
    display: flex;
    flex-direction: column;
}

.section-main-mails-box {
    flex: 1;
    margin: 10px 30px;
    padding: 25px;
    box-shadow: 0px 10px 50px #CCCCCC;
    border-radius: 15px;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.mail-button {
    min-height: 50px;

    border: 2px solid #EB6626;
    border-radius: 50px;

    color: #EB6626;
    font-weight: bold;

    transition: background-color 0.3s ease, transform 0.1s ease;

    &:hover {
        background-color: #A73B00;
        border: 2px solid #A73B00;
        color: white;
        cursor: pointer;
        transform: scale(1.02);
    }
}

textarea{
    margin: 20px;
    padding: 10px;

    position: sticky;
    top: 20px;

    height: 50%;
    width: 90%;

    border-radius: 15px;
}