body {
    margin: 0px;
    background-color: #F6F7F7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}